<table id="table-user-game" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>History</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < data.length; i++ ){ %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= data[i].biodata.name %></td>
      <td><%= data[i].username %></td>
      <td><%= data[i].email %></td>
      <td><%= data[i].password %></td>
      <td><%= data[i].biodata.address %></td>
      <td><%= data[i].biodata.phone_number %></td>
      <td style="font-size: 11px">
        <% data[i].history.forEach( (item) => { %> - <%= item.createdAt %> : <%=
        item.is_win %> <br />
        <% }) %>
      </td>
      <td>
        <div class="d-flex justify-content">
          <a href="/users/edit/<%= data[i].id %>" class="btn btn-info">Edit</a>
          <form method="POST" action="/users/<%= data[i].id %>?_method=DELETE">
            <button class="btn btn-danger ml-2" type="submit">Delete</button>
          </form>
        </div>
      </td>
    </tr>
    <% } %>
  </tbody>
  <tfoot>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>History</th>
      <th>Action</th>
    </tr>
  </tfoot>
</table>
