<%- include ./components/organism/Header.ejs %>
<%- include ./components/organism/Navbar.ejs%>
<%- include('./components/organism/Sidebar.ejs', {userName}) %>
<%- include('./pages/'+pages,{data, alert}) %>
<%- include('./components/organism/Footer.ejs', {logic:logic}) %>
